networks: 
 expense: {}
volumes:
 mysql:
services:
 mysql:
  image: ravaali/mysql:1.0.0
  networks:
  - expense
  container_name: mysql
  volumes:
  - mysql:/var/lib/mysql

 backend:
  image: ravaali/backend:1.0.0
  networks:
  - expense
  container_name: backend
  depends_on:
  - mysql

 frontend:
  image: ravaali/frontend:1.0.0
  networks:
  - expense
  container_name: frontend
  ports: 
  - 80:80
  depends_on:
  - backend 



  